<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit your Information.</h2>
    <form action="/listings/<%=data._id%>/update" method="POST">
        Title : <input type="text" name="title_" value="<%=data.title%>"> <br>
        Description : <textarea name="descrip_" cols="30" rows="10"> <%=data.title%></textarea><br>
        Image_URL : <input type="text" value="<%=data.url%>" name="url_"><br>
        Price : <input type="number" value="<%=data.price%>"  name="price_"> <br>
        Location : <input type="text" value="<%=data.location%>" name="location_"> <br>
        Country : <input type="text" value="<%=data.country%>" name="country_"> <br><br>
        <button>EDIT</button>
    </form>
</body>
</html>