<% layout("/layouts/boilerplate.ejs") -%>

  <body>
    <h2 class="add_heading">EDIT YOUR LISTING</h2>
    <form action="/listings/<%= data._id %>/update" method="POST" class="needs-validation" novalidate>
      <div class="mb-4">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=data.title%>" name="title_"
          placeholder="Enter a catchy Title" required>
        <div class="valid-feedback">
          Title looks good!
        </div>
        <div class="invalid-feedback">
          Title is not valid.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="descrip_"
          rows="3" required><%=data.description%></textarea><div class="invalid-feedback">
            Description can't be empty.
          </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Image Link</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="url_" value="<%=data.image.url%>">
      </div>
      <div>
        <div class="inline_block_">
          <label for="exampleFormControlInput1" class="form-label">Price</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="price_" value="<%=data.price%>" required>
          <div class="invalid-feedback">
            Invalid Price.
          </div>
        </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="inline_block_">
          <label for="exampleFormControlInput1" class="form-label">Country</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="country_"
            value="<%=data.country%>" required>
            <div class="invalid-feedback">
              Invalid Country.
            </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Location</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="location_"
          value="<%=data.location%>" required>
          <div class="invalid-feedback">
            Location Invalid.
          </div>
      </div>
      <br>
      <form action="/listings/<%= data._id %>/update" method="POST">
        <button class="btn btn-danger">EDIT</button>
      </form>
      <script src="/js/script.js"></script>
  </body>