<% layout("/layouts/boilerplate.ejs") -%>
<!-- <%= message %> -->
<body>
  <!-- <h2 class="home_head">Listings</h2> -->
   <br>
   <center>
   <div class="features">
    <div class="icons">
      <i class="fa-solid fa-fire"></i><br>
      <p>Trending</p>
    </div>

    <div class="icons">
      <i class="fa-solid fa-bed"></i><br>
      <p>Rooms</p>
    </div>

    <div class="icons">
      <i class="fa-solid fa-mountain-city"></i><br>
      <p>Iconic Cities</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-mountain-sun"></i><br>
      <p>Mountains</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-sailboat"></i><br>
      <p>Boat</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-person-swimming"></i><br>
      <p>Amazing Pools</p>
    </div>
    <div class="icons">
      <i class="fa-solid fa-campground"></i><br>
      <p>Camping</p>
    </div>
    <div class="icons">
      <i class="fa-brands fa-fort-awesome"></i><br>
      <p>Farms</p>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display Total after Taxes.</label>
    </div>
   
</div></center>

    <div class="row">
    <% for(let i of data){ %>
        <div class="col-4">
        <a href="/listings/<%=i._id%>" class="_decorate"><div class="card card_hover" style="width: 18rem;">
            <img src="<%=i.image.url %>" class="card-img-top  card_ img-home" alt="listing_image">
            <div class="card-body">
              <p class="card-text"><b><%= i.location %></b><br>
                <%= i.title %> <br>
                &#8377;<b><%= i.price %></b> per night <i class="tax"><U>+18% GST</U></i></p>
            </div>
          </div></a></div>
        <% } %></div>



       