<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <h2 class="listing_details" align="center">
            <%= data.title %>
        </h2>
        <div class="card card_info" style="width: 400px !important; ">
            <img src="<%= data.image.url %>" class="card-img-top img-info" alt="listings_image">
            <div class="card-body">
                <p class="card-text">
                    <font size="4">Post Written by : <u><b>
                       <%  if(postOwner!=""){ %>
                        @<%=postOwner%>
                        <% } %>
                        
                    </b></u></font> <br>
                    <%= data.description %> <br>
                        Price- <b>&#8377;<%= data.price %> per night</b> <br>
                        Location- <b>
                            <%= data.location %>
                        </b> <br>
                        Country- <b>
                            <%= data.country %>
                        </b>
                </p>
                    <div>
                        <a href="/listings/<%=data._id%>/edit" class="btn btn-danger">Edit</a>
                    </div>
                    &nbsp;&nbsp;
                    <form method="POST" action="/listings/<%=data._id%>/delete">
                        <button class="btn btn-dark">Delete</button>
                    </form>
            </div>
        </div>
        </div>

        <center>
            <hr width="45%">
        </center>
        <form action="/listings/<%=data._id%>/reviews" method="POST" class="needs-validation" novalidate>

            <div class="card" id="review_card">
                <h2>Leave a Review</h2><br>
                <label for="rating">Rating</label>
                <input type="range" id="rating" min="1" max="5" name="rating_">
                <br>
                <label for="comment">Comments</label>
                <div>
                    <textarea name="comment_" id="comment" cols="60px" rows="5px" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid Comment.
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-danger" id="margin_left">Submit</button> <br><br>
        </form>


        <!-- <div class="card">
                <div class="card-body">
                  
                </div>
              </div> -->

        <% console.log(data.reviews.length); %>

            <% if(data.reviews.length>0){ %>
                <center>
                    <hr width="45%">
                </center>
                <h2 id="margin_left">All Reviews</h2>
                <% for(let review of data.reviews){ %>
                    <form action="/listings/<%=data._id%>/reviews/<%=review._id%>" method="POST">
                        <div class="review_section" id="margin_left">
                            <div id="para_">
                                <font size="4"><b>@<%= review.username %></b></font><br> <br>
                               <u>Experience- </u><%= review.comment %> <br> 
                               <b><u>Rating </u> </b> <%= review.rating %> stars
                            </div>
                            <% if(currentUser==review.username){ %>
                               
                            <div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                                    class="btn btn-dark margin-top">Delete</button>
                            </div>
                            <% } %>

                        </div>
                    </form>
                    <% } %>
                        <% } %>
    </body>