<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <h2 class="listing_details" align="center">
            <%= data.title %>
        </h2>
        <div class="card card_info" style="width: 400px !important; ">
            <img src="<%= data.image.url %>" class="card-img-top img-info" alt="listings_image">
            <div class="card-body">
                <p class="card-text">
                    <font size="4">Post Written by : <u><b>
                                <% if(postOwner!="" ){ %>
                                    @<%=postOwner%>
                                        <% } %>

                            </b></u></font> <br>
                    <%= data.description %> <br>
                        Price- <b>&#8377;<%= data.price %> per night</b> <br>
                        Location- <b>
                            <%= data.location %>
                        </b> <br>
                        Country- <b>
                            <%= data.country %>
                        </b>
                </p>
                <div>
                    <a href="/listings/<%=data._id%>/edit" class="btn btn-danger">Edit</a>
                </div>
                &nbsp;&nbsp;
                <form method="POST" action="/listings/<%=data._id%>/delete">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        </div>
        </div>

        <center>
            <hr width="45%">
        </center>
        <form action="/listings/<%=data._id%>/reviews" method="POST" class="needs-validation" novalidate>

            <div class="card" id="review_card">
                <h2>Leave a Review</h2><br>

                <fieldset class="starability-slot">
                    <legend>Rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                        aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating_" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating_" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating_" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating_" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating_" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>

                <br>
                <label for="comment">Comments</label>
                <div>
                    <textarea name="comment_" id="comment" cols="60px" rows="5px" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a valid Comment.
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-danger" id="margin_left">Submit</button> <br><br>
        </form>



        <% if(data.reviews.length>0){ %>
            <center>
                <hr width="45%">
            </center>
            <h2 id="margin_left">All Reviews</h2>
            <% for(let review of data.reviews){ %>
                <form action="/listings/<%=data._id%>/reviews/<%=review._id%>" method="POST">
                    <div class="review_section" id="margin_left">
                        <div id="para_">
                            <font size="4"><b>@<%= review.username %></b></font><br>
                            <u>Experience- </u>
                            <%= review.comment %> <br>
                                <!-- <b><u>Rating </u> </b> <%= review.rating %> stars -->
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                    Rated: 3 stars
                                </p>
                        </div>
                        <% if(currentUser==review.username){ %>

                            <div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                                    class="btn btn-dark margin-top">Delete</button>
                            </div>
                            <% } %>

                    </div>
                </form>
                <% } %>
                    <% } %>
                    <br><br>
                        <h2 align="center">Where you'll be</h2>
                        <div id="map">Hello</div>
                        <script>
                            mapboxgl.accessToken = "<%=process.env.MAP_TOKEN %>";
                            const map = new mapboxgl.Map({
                                container: 'map',
                                // You can add layers to the predetermined slots within the Standard style basemap.
                                style: 'mapbox://styles/mapbox/standard',
                                center: [-74.0060152, 40.7127281],
                                zoom: 5,
                                maxZoom: 6
                            });

                            map.on('style.load', () => {
                                map.addSource('urban-areas', {
                                    'type': 'geojson',
                                    'data': 'https://docs.mapbox.com/mapbox-gl-js/assets/ne_50m_urban_areas.geojson'
                                });

                                map.addLayer({
                                    'id': 'urban-areas-fill',
                                    'type': 'fill',
                                    // This property allows you to identify which `slot` in
                                    // the Mapbox Standard your new layer should be placed in (`bottom`, `middle`, `top`).
                                    'slot': 'middle',
                                    'source': 'urban-areas',
                                    'layout': {},
                                    'paint': {
                                        'fill-color': '#f08',
                                        'fill-opacity': 0.4
                                    }
                                });
                            });
                        </script>
                        
    </body>