<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <h2 class="listing_details" align="center">
            <%= data.title %>
        </h2>
        <div class="card card_info" style="width: 400px !important; ">
            <img src="<%= data.image.url %>" class="card-img-top img-info" alt="listings_image">
            <div class="card-body">
                <p class="card-text">
                    <%= data.description %> <br>
                        Price- <b>&#8377;<%= data.price %> per night</b> <br>
                        Location- <b>
                            <%= data.location %>
                        </b> <br>
                        Country- <b>
                            <%= data.country %>
                        </b>
                </p>
                <div>
                    <a href="/listings/<%=data._id%>/edit" class="btn btn-danger">Edit</a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <form method="POST" action="/listings/<%=data._id%>/delete">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        </div>
        </div>

        <center>
            <form action="/listings/<%=data._id%>/reviews" method="POST" class="needs-validation" novalidate>
                <hr width="50%">
                <div class="card" id="review_card">
                    <h2>Leave a Review</h2><br>
                    <label for="rating">Rating</label>
                    <input type="range" id="rating" min="1" max="5" name="rating_">
                    <br>
                    <label for="comment">Comments</label>
                    <div>
                        <textarea name="comment_" id="comment" required></textarea>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-danger">Submit</button> <br> <br>
            </form>
        </center>

    </body>