<% layout("/layouts/boilerplate.ejs") -%>
    <body>
        <h2 class="listing_details" align="center">Listings Details</h2>
        <div class="card card_info" style="width: 400px !important; ">
            <img src="<%= data.image.url %>" class="card-img-top img-info" alt="listings_image">
            <div class="card-body">
                <h5 class="card-title">
                    <%= data.title %>
                </h5>
                <p class="card-text">
                    <%= data.description %> <br>
                        Price- <b>&#8377;<%= data.price %> per night</b> <br>
                           Location- <b><%= data.location %></b> <br>
                               Country- <b><%= data.country %></b>
                </p>
                <div>
                    <a href="/listings/<%=data._id%>/edit" class="btn btn-danger">Edit</a></div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <form method="POST" action="/listings/<%=data._id%>/delete">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </body>